.overflow {
    overflow: auto;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.width-100-per {
    width: 100% !important;
}

.height-100-per {
    height: 100% !important;
}
/*内边距*/
.padding-10-px{
    padding: 10px !important;
}

.padding-left-10-px{
    padding-left: 10px !important;
}

.padding-right-10-px{
    padding-right: 10px !important;
}

.padding-top-10-px{
    padding-top: 10px !important;
}

.padding-bottom-10-px{
    padding-bottom: 10px !important;
}
/*外边距*/
.margin-10-px{
    margin: 10px !important;
}

.margin-left-10-px{
    margin-left: 10px !important;
}

.margin-right-10-px{
    margin-right: 10px !important;
}

.margin-top-10-px{
    margin-top: 10px !important;
}

.margin-bottom-10-px{
    margin-bottom: 10px !important;
}

/*边框*/
.border {
    border: 1px solid #888888;
    border-radius: 5px;
}


/*flex布局*/

/*分散在左右两边*/
.layout-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
}
/*分散在左右两边，间距相等*/
.layout-side-n {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
}
/*分散在上下两边*/
.layout-front {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
}
/*分散在上下两边，间距相等*/
.layout-front-n {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
}
/*左上起*/
.layout-left-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: flex-start;
}
/*左中起*/
.layout-left-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;
}
/*中上起*/
.layout-center-top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;
}
/*居中*/
.layout-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

/*滚动条样式*/
::-webkit-scrollbar { /*滚动条整体样式*/
    width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}

::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px #212639;
    background: #535353;
}

::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #EDEDED;
}

/*------背景相关------*/
.bg-color-white {
    background-color: #FFFFFF;
}

.bg-color-dark {
    background-color: #181B2A !important;
}

.bg-color-green {
    background-color: green !important;
}

.bg-color-blue {
    background-color: #1890FF !important;
}

.bg-color-red {
    background-color: red !important;
}

/*杂项*/
.cursor-pointer{
    cursor: pointer;
}